:root {
  /* color palette */
  --color-navy: #001f3f;
  --color-blue: #0074d9;
  --color-aqua: #7fdbff;
  --color-teal: #39cccc;
  --color-purple: #b10dc9;
  --color-fuchsia: #f012be;
  --color-maroon: #85144b;
  --color-maroon-dark: #561836;
  --color-maroon-light: #a24b75;
  --color-maroon-very-dark: #43182c;
  --color-red: #ff4136;
  --color-orange: #ff851b;
  --color-orange-light: #ffa455;
  --color-orange-dark: #af5b12;
  --color-yellow: #ffdc00;
  --color-olive: #3d9970;
  --color-green: #2ecc40;
  --color-lime: #01ff70;
  --color-black: #111111;
  --color-gray: #aaaaaa;
  --color-silver: #dddddd;
  --color-silver-light: rgb(238, 238, 238);
  --color-white: #ffffff;

  /* tokens */
  --color-text: var(--color-black);
  --color-text-subtle: var(--color-gray);
  --color-navbar: var(--color-silver);
  --bg-color: var(--color-silver);

  /* font-family */
  --font-primary: 'Poppins', sans-serif;

  /* base values */
  --text-base-size: 1rem;
  --text-scale-ratio: 1.2;

  /* rounded */
  --rounded-sm: 0.5rem;
  --rounded-md: 0.8rem;
  --rounded-lg: 1.1rem;
  --rounded-xl: 1.5rem;
  --rounded-2xl: 2rem;
  --rounded-full: 9999rem;

  /* font sizes */
  --text-xs: calc(
    var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio)
  );
  --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-md: var(--text-base-size);
  --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-2xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-3xl: calc(
    var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );

  /* font-weights */
  --bold: 800;
  --semi-bold: 600;
  --normal: 500;
  --light: 300;

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);

  background-color: var(--bg-color);
  color: var(--color-text);

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.center {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  font-size: var(--text-xs) !important;
  padding: 0.3rem 0.5rem !important;
}
